<% var title = "TTL_JP_TOP"; var description = "トップのTTL_JP"; %> <% include
src/ejs/template/_head %>

<% var imgPath='/assets/images/'; %>
<% include src/ejs/template/_header %>

<main class="l-main">
  <div class="l-top-heading">
    <div class="p-top-heading__block">
      <div class="p-top-heading__circle--day">
        <h3 class="p-top-heading__catchPhrase">最短<span class="p-top-heading__catchPhrase--bold">2</span>日で<br>業務開始</h3>
      </div>
      <img src="<%= imgPath %>trust.png" class="p-top-heading__titleImg" alt="トラストのロゴ">
      <div class="p-top-heading__flex">
        <div class="p-top-heading__circle--match">
          <h3 class="p-top-heading__catchPhrase">希望案件<br>マッチ率<span class="p-top-heading__catchPhrase--bold">97</span>％</h3>
        </div>
        <div class="p-top-heading__column">
          <a class="c-top-toProject" id="toProject" href="#">案件を見てみる！！</a>
          <a class="c-top-toLine" id="toProject" href="#">LINE公式アカウントを登録する</a>
        </div>
        <div class="p-top-heading__circle--line">
          <h3 class="p-top-heading__catchPhrase"><span class="p-top-heading__catchPhrase--bold">LINE</span>で<br>簡単登録</h3>
        </div><!-- /.p-top-heading__circle -->
      </div><!-- /.p-top-heading__flex -->
    </div><!-- /.p-top-heading__block -->
  </div><!-- /.l-top-heading -->

  <div class="l-top-aboutService" id="aboutService">
    <ul class="p-top-aboutService__logo">
      <% var serviceInitial   = ['T','T','J']; %>
      <% var aboutServiceLogo = ['rust','ech','ob']; %>
      <% for (var i = 0; i < aboutServiceLogo.length; i++) { %>
        <li class="p-top-aboutService__logoList">
          <span class="p-top-aboutService__logoList__initial" id="fadeLogoInitial<%= i+1 %>"><%= serviceInitial[i] %></span><%= aboutServiceLogo[i] %>
        </li>
      <% } %>
    </ul>
    <dl class="p-top-aboutService__explain">
      <dt class="p-top-aboutService__explain__title">
        <% for (var i = 0; i < serviceInitial.length; i++) { %>
          <span class="p-top-aboutService__explain__titleInitial"><%= serviceInitial[i] %></span>
        <% } %>
        とは
      </dt>
      <span class="p-top-aboutService__explain__underline" id="extendUnderline"></span>
      <dd class="p-top-aboutService__explain__text">
        TTJは今まで様々なITビジネスの営業に携わってきたIT業界の営業スペシャリストです。<br><br>
        その中での経験からクライアントとエンジニア、双方のニーズの合致こそがT業界の発展だと考えております。<br>
        TTJではエンジニアのニーズを尊重し【あなたにマッチする案件】を提案します。
        弊社の営業ノウハウには自信がありますので、【自走できるエンジニア】へのサポートもお任せ下さい。<br><br>
        本当に自分のスキルに合った業務につけるのか...<br><br>
        フリーランスとしてどのように営業すれば良いかわからない...<br><br>
        単価の交渉のやり方...等<br><br>
        まずはお気軽にLINEにてご登録下さい！
      </dd>
    </dl>
  </div>

  <div class="l-top-request">
    <h2 class="p-top-request__title">統計に基づくクリエイター,エンジニアの要望</h2>
    <ul class="p-top-request__block">
      <% var requestTitle = ['スキルマッチ', '高単価', '時間効率']; %>
      <% var requestText  = ['自身のスキルにあった案件が欲しい', 'ある程度一定した収入が欲しい', '空いている時間を利用し効率よく収入を増やしたい']; %>
      <% for (var i = 0; i < requestTitle.length; i++) { %>
        <li class="p-top-request__blockList">
          <h3 class="p-top-request__blockList__title"><%= requestTitle[i] %></h3>
          <img src="<%= imgPath %>request<%= i+1 %>.png" class="p-top-request__blockList__img" alt="要望ブロックのlistのロゴ">
          <p class="p-top-request__blockList__text"><%= requestText[i] %></p>
        </li>
      <% } %>
    </ul>
  </div>

  <!-- <div class="p-top-container" id="container"> -->
    <div class="p-top-flowUpToWork">
      <h1 class="p-top-flowUpToWork__heading" id="fade-in-down1">
        <span class="p-top-flowUpToWork__heading--bold">TTJ</span>があなたのご要望に合ったお仕事を紹介致します
      </h1>
      <ul class="p-top-flowUpToWork__menu">
        <% var flow = [
          {'flowNum': '01', 'flowImage': 'application_form.png    ', 'flowText': '登録'},
          {'flowNum': '02', 'flowImage': 'contact.png             ', 'flowText': '担当から連絡'},
          {'flowNum': '03', 'flowImage': 'project_introduction.png', 'flowText': '打ち合わせ'},
          {'flowNum': '04', 'flowImage': 'business.png            ', 'flowText': '案件紹介'},
          {'flowNum': '04', 'flowImage': 'business.png            ', 'flowText': 'クライアントへ提案(遅くても2日以内)'},
          {'flowNum': '04', 'flowImage': 'business.png            ', 'flowText': 'エンジニア、クライアント打ち合わせ'},
          {'flowNum': '04', 'flowImage': 'business.png            ', 'flowText': '業務開始'},
        ]; %>
        <% for (var i = 0; i < flow.length; i++) { %>
        <li class="p-top-flowUpToWork__list">
          <img class="p-top-flowUpToWork__list__image" src="<%= imgPath %><%= flow[i].flowImage %>" alt="仕事の流れ 画像">
          <p class="p-top-flowUpToWork__list__txt"><%= flow[i].flowText %></p>
        </li>
        <% } %>
      </ul>
    </div>

    <div class="p-top-project" id="project">
      <% var jobCategory = ['Engineer', 'Engineer', 'Designer']; %>
      <% var projects = [
      {'unitPrice': '41~65', 'workingDays': 3},
      {'unitPrice': '41~65', 'workingDays': 3},
      {'unitPrice': '41~65', 'workingDays': 3}
      ]; %>
      <% var developmentEnvironment = ['PHP', 'MySQL', 'JavaScript', 'AWS']; %>
      <h2 class="p-top-project__heading">
        <span class="p-top-project__heading--bold">TTJ</span>が提供する案件
      </h2>
      <h3 class="p-top-project__subTitle">多種多様な案件を取り揃えております</h3>
      <ul class="p-top-project__list">
        <% for (var k = 0; k < projects.length; k++) { %>
          <li class="p-top-project__listItem" id="fade-in-down<%= k+2 %>">
            <p class="p-top-project__listItem__jobCategory__txt"><%= jobCategory[k] %></p>
            <img class="p-top-project__listItem__goodMan" src="<%= imgPath %>goodhuman.png" alt="男性　いいね">
            <ul class="p-top-project__listItem__developmentEnironment">
              <% for (var l = 0; l < developmentEnvironment.length; l++) { %>
              <li><%= developmentEnvironment[l] %></li>
              <% } %>
            </ul>
            <p class="p-top-project__listItem__about">★週3日PHP案件！有名人も活用するブログサービス運営を支えるエンジニア募集！</p>
            <div class="p-top-project__listItem__feature">
              <div class="p-top-project__listItem__income">
                <img class="p-top-project__listItem__income__image" src="<%= imgPath %>money.png" alt="">
                <p class="p-top-project__listItem__income__monthly">月収</p>
                <p class="p-top-project__listItem__income__price">
                  <span class="p-top-project__listItem__income__price--emphasis"><%= projects[k].unitPrice %></span>万円
                </p>
              </div>
              <!-- 区切り用の縦線を空文字のpタグで調整 -->
              <p class="p-top-project__listItem__separator"></p>
              <div class="p-top-project__listItem__working">
                <img class="p-top-project__listItem__working__image" src="<%= imgPath %>schedule.png" alt="">
                <p class="p-top-project__listItem__working__week">週に</p>
                <p class="p-top-project__listItem__working__days">
                  <span class="p-top-project__listItem__working__days--emphasis"><%= projects[k].workingDays %></span>日勤務
                </p>
              </div><!-- /.p-top-project__listItem__working -->
            </div><!-- /.p-top-project__listItem__feature -->
        </li>
        <% } %>
      </ul>
    </div><!-- /.p-top-project -->

    <ul class="p-top-pieList">
      <% var pattern = ['開発言語', '開発内容', '月収']; %>
      <% for (var m = 0; m < pattern.length; m++) { %>
      <li class="p-top-pieItem">
        <!-- <h2 class="p-top-pieItem__title"><%= pattern[m] %></h2> -->
        <p class="p-top-pieItem__image"><img src="<%= imgPath %><%= pattern[m] %>.png" alt="開発言語 画像"></p>
      </li>
      <% } %>
    </ul>
  <!-- </div> -->

  <div class="l-top-faq">
    <h1 class="p-top-faq__title">FAQ</h1>
    <% var question = [
      'フリーランスエージェントとはどういうサービスですか？', 'TTJのサービス利用料金は発生しますか？', '自分のスキルに見合った案件へ就けますか？', '実務未経験ですが案件紹介は可能でしょうか？',
      'TTJのマージン率はどのぐらいですか？', 'フリーランスとして初めての案件となりますがTTJでどこまでサポートしてくれますか？', 'TTJでは現案件から次回案件へ以降の際、期間を開けず就業することは可能でしょうか？',
      '案件の期間はどのぐらいでしょうか？', '案件先は東京のみでしょうか？', '月の労働時間はどのぐらいでしょうか？', '他のエージェントでは常駐案件が多いと聞きましたがTTJも同じでしょうか？',
      '登録にするにあたり、何か用意するものなどありますでしょうか？'
    ]; %>
    <% var answer = [
      'フリーランスエンジニアへ案件をご紹介し、契約手続きや条件の交渉等行うサービスです。わかりやすく言うとエンジニアの営業代行業務になります。',
      'いいえ、ご利用料金は完全無料となります。',
      'はい、LINEにて登録後、弊社営業担当より細かなヒアリングを行いしっかりニーズにマッチした案件をご紹介いたします。',
      '未経験でも案件紹介はできる可能性はありますが単価等、スキル見合いになりますので100%ニーズにマッチできるかはご相談させていただければと思います。',
      '案件の単価にもよりますが15%〜20%ほどです。ちなみに業界の相場としては20%〜25%ほどが一般的です。',
      '案件の提案から業務開始まではもちろん、クライアント様との商談の仕方等ノウハウも含めサポート致します。',
      'はい、可能です。TTJではエンジニア1人1人に担当がつきますので案件終了期間が近づきましたら担当より次回案件についてご相談致します。',
      '案件ごとに変わりますが3~6ヶ月での更新が一般的となります。エンジニア、クライアント様より双方認識(ニーズ)が合えば延長することも可能です。ちなみに弊社の案件更新率は90%以上となります。',
      'いいえ、やはり東京が多いのは事実ですが、TTJでは全国にクライアント様がおりますので地方常駐案件も多数ございます。現在はリモートの案件も増えてきておりますので場所に拘らない案件紹介も可能となります。',
      'エンジニアのニーズやクライアント様ごとに変わりますが、できる限り双方のニーズに合致する案件紹介を致します。基準としては1日8h程度の業務が一般的です。',
      'やはり割合として常駐案件が多いですがコロナ禍の影響もありリモートワーク案件も急増しております。まずは一度お気軽にご相談下さい。',
      '登録の際には特にございません。ヒアリングや提案の際に何が必要かは山口さんに確認'
    ]; %>

    <!-- p-top-faqPCブロック：slide用 -->
    <ul class="p-top-faqPC__question slick01 slick-slider">
      <% for (var i=0; i < question.length; i++) { %>
        <li class="p-top-faqPC__questionList slick-slide slick-current slick-active">
          <h3 class="p-top-faqPC__question__title" id="faqPCTitleQuestion<%= i+1 %>">Q.<%= question[i] %></h3>
        </li>
      <% } %>
    </ul>

    <ul class="p-top-faqPC__answer">
      <% for (var i=0; i < answer.length; i++) { %>
        <li class="p-top-faqPC__answerList" id="faqPCAnswer<%= i+1 %>">
          <div id="bgBlack"></div>
          <div class="p-top-faqPC__answerList__textBlock">
            <p class="p-top-faqPC__answerList__text">A.<%= answer[i] %></p>
            <span class="p-top-faqPC__crossIcon"><i class="fas fa-times crossIcon"></i></span>
          </div>
        </li>
      <% } %>
    </ul>

    <ul class="p-top-faqSP">
      <% for (var i=0; i < question.length; i++) { %>
        <li class="p-top-faqSP__list">
          <div class="p-top-faqSP__question" id="questionMenu<%= i+1 %>" data-name="clicks">
            <h3 class="p-top-faqSP__question__title" id="questionTitle<%= i+1 %>">Q.<%= question[i] %></h3>
          </div>
          <div class="p-top-faqSP__answer">
            <p class="p-top-faqSP__answer__text">A.<%= answer[i] %></p>
          </div>
        </li>
      <% } %>
    </ul>
  </div>
</main>
<% include src/ejs/template/_footer %>