<% var title = "TTL_JP_TOP"; var description = "トップのTTL_JP"; %> <% include
src/ejs/template/_head %>

<% var imgPath='/assets/images/'; %>

<% include src/ejs/template/_header %>

<main class="l-main">
  <div class="l-top-heading">
    <div class="p-top-heading__block">
      <h1 class="p-top-heading__title">
        <span class="p-top-heading__title--red">幸せ</span>と<span class="p-top-heading__title--blue">平和</span>を<br>提供いたします。
      </h1>
      <a class="c-top-entryBtn" href="#">案件例を見る！！</a>
    </div>
  </div>

  <div class="l-top-aboutService" id="aboutService">
    <ul class="p-top-aboutService__logo">
      <% var aboutServiceLogoInitial=['T','T','J']; %>
      <% var aboutServiceLogo=['rust','ech','ob']; %>
      <% for (var i = 0; i < aboutServiceLogo.length; i++) { %>
        <li class="p-top-aboutService__logoList">
          <span class="p-top-aboutService__logoList__initial" id="fadeLogoInitial<%= i+1 %>"><%= aboutServiceLogoInitial[i] %></span><%= aboutServiceLogo[i] %>
        </li>
      <% } %>
    </ul>
    <dl class="p-top-aboutService__explain">
      <dt class="p-top-aboutService__explain__title">
        <span class="p-top-aboutService__explain__titleInitial">T</span>
        <span class="p-top-aboutService__explain__titleInitial">T</span>
        Jとは
      </dt>
      <span class="p-top-aboutService__explain__underline" id="extendUnderline"></span>
      <dd class="p-top-aboutService__explain__text">
        「TTJ」の作成目的としては、フリーランスエンジニアの人口増加を見込み、
        そこに対して、今競合他社が少ない時に、案件探しといえば「TTJ」という
        イメージを定着させ、案件紹介サイトのシェアの確保を狙う。
      </dd>
    </dl>
  </div>

  <div class="p-top-container">
    <div class="p-top-project">
      <h1 class="p-top-project__heading" id="fade-in-up">
        <span class="p-top-project__heading--red">T</span>
        <span class="p-top-project__heading--blue">T</span>
        <span class="p-top-project__heading--white">J</span>
        とは多彩かつ豊富な
        <br>
        案件をご用意しております。
      </h1>
      <% var projects = [
        {'name': '【PHP/Laravel】システム開発', 'unitPrice': 65, 'workingPlace': '東京', 'developmentEnvironment': 'PHP Laravel'},
      ]; %>
      <% var project = (function(name, price, place, environment) { %>
        <a href="#" class="p-top-project__list__link">
          <li class="p-top-project__list__item">
            <h2 class="p-top-project__list__item__title"><%= name %></h2>
            <div class="p-top-project__list__item__about">
              <p class="p-top-project__list__item__price">単価/月 <%= price %>万円</p>
              <p class="p-top-project__list__item__place">勤務地 <%= place %></p>
            </div>
            <div class="p-top-project__list__item__development">
              <p class="p-top-project__list__item__development__enironment">開発環境 <%= environment %></p>
              <!-- <p class="p-top-project__list__item__development__language"></p> -->
            </div><!-- /.p-top-project__list__item__development -->
          </li>
        </a>
      <% }); %>
      <ul class="p-top-project__list">
      <% project(projects[0].name, projects[0].unitPrice, projects[0].workingPlace, projects[0].developmentEnvironment); %>
      <% project(projects[0].name, projects[0].unitPrice, projects[0].workingPlace, projects[0].developmentEnvironment); %>
      <% project(projects[0].name, projects[0].unitPrice, projects[0].workingPlace, projects[0].developmentEnvironment); %>
      </ul>
    </div>

    <div class="p-top-trouble">
      <h1 class="p-top-trouble__heading">多く寄せられている悩み</h1>
      <ul class="p-top-trouble__list">
        <% var troubleType = ['希望の案件が見つからない', '上流工程から三角したい', '今のキャリアに悩んでいる']; %>
        <% var troubleTypeDetail = ['自分のスキル、経験に見合う報酬が欲しい。', 'プロジェクトの構想フェーズから参画しお客さんから反応も欲しい', 'フリーランスに興味はあるが、収入が安定するか、仕事がしっかりと貰えるのか不安がある。'] %>
        <% for (var j = 0; j < 3; j++) { %>
        <li class="p-top-trouble__listItem">
          <div class="p-top-trouble__listItem__inner">
            <img class="p-top-trouble__listItem__inner__img" src="<%= imgPath %>trouble-human.jpeg" alt="悩んでる人の画像">
            <h2 class="p-top-trouble__listItem__inner__troubleType"><%= troubleType[j] %></h2>
            <p class="p-top-trouble__listItem__inner__troubleType--detail"><%= troubleTypeDetail[j] %></p>
          </div>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</main>

<% include src/ejs/template/_footer %>