<% var title = "TTL_JP_TOP"; var description = "トップのTTL_JP"; %> <% include
src/ejs/template/_head %>

<% var imgPath='/assets/images/'; %>

<% include src/ejs/template/_header %>

<main class="l-main">
  <div class="l-top-heading">
    <div class="p-top-heading__block">
      <img src="<%= imgPath %>trust.png" class="p-top-heading__titleImg" alt="トラストのロゴ">
      <h3 class="p-top-heading__catchPhrase">最短2日で案件紹介</h3>
      <p class="p-top-heading__text">IT起業家・フリーランスの自立を支える<br>お仕事サービス</p>
      <a class="c-top-toProject" id="toProject" href="#">案件例を見る！！</a>
    </div>
  </div>

  <div class="l-top-request">
    <h2 class="p-top-request__title">統計に基づくクリエイター,エンジニアの要望</h2>
    <ul class="p-top-request__block">
      <% var requestTitle = ['スキルマッチ', '高単価', '時間効率']; %>
      <% var requestText = ['自身のスキルにあった案件が欲しい', 'ある程度一定した収入が欲しい', '空いている時間を利用し効率よく収入を増やしたい']; %>
      <% for (var i = 0; i < requestTitle.length; i++) { %>
        <li class="p-top-request__blockList">
          <h3 class="p-top-request__blockList__title"><%= requestTitle[i] %></h3>
          <img src="<%= imgPath %>request<%= i+1 %>.png" class="p-top-request__blockList__img" alt="要望ブロックのlistのロゴ">
          <p class="p-top-request__blockList__text"><%= requestText[i] %></p>
        </li>
      <% } %>
    </ul>
  </div>

  <!-- <div class="p-top-container" id="container"> -->
    <div class="p-top-flowUpToWork">
      <h1 class="p-top-flowUpToWork__heading" id="fade-in-down1">
        <span class="p-top-flowUpToWork__heading--bold">TTJ</span>とは多彩かつ豊富な案件をご用意しております。
      </h1>
      <ul class="p-top-flowUpToWork__menu">
        <% var flow = [
          {'flowNum': '01', 'flowImage': 'application_form.png    ', 'flowText': '簡単申込みフォームへ入力'},
          {'flowNum': '02', 'flowImage': 'contact.png             ', 'flowText': '弊社担当より連絡       '},
          {'flowNum': '03', 'flowImage': 'project_introduction.png', 'flowText': '案件紹介、相談         '},
          {'flowNum': '04', 'flowImage': 'business.png            ', 'flowText': '業務開始              '},
        ]; %>
        <% for (var i = 0; i < flow.length; i++) { %>
        <li class="p-top-flowUpToWork__list">
          <h2 class="p-top-flowUpToWork__list__order"><%= flow[i].flowNum %></h2>
          <img class="p-top-flowUpToWork__list__image" src="<%= imgPath %><%= flow[i].flowImage %>" alt="仕事の流れ 画像">
          <p class="p-top-flowUpToWork__list__txt"><%= flow[i].flowText %></p>
        </li>
        <% } %>
      </ul>
    </div>

    <div class="p-top-project">
      <% var jobCategory = ['Engineer', 'Engineer', 'Designer']; %>
      <% var projects = [
      {'unitPrice': '41~65', 'workingDays': 3},
      {'unitPrice': '41~65', 'workingDays': 3},
      {'unitPrice': '41~65', 'workingDays': 3}
      ]; %>
      <% var developmentEnvironment = ['PHP', 'MySQL', 'JavaScript', 'AWS']; %>
      <h2 class="p-top-project__heading">
        <span class="p-top-project__heading--bold">TTJ</span>が提供する案件
      </h2>
      <h3 class="p-top-project__subTitle">多種多様な案件を取り揃えております</h3>
      <div class="p-top-project__jobCategory">
        <% for (var j = 0; j < jobCategory.length; j++) { %>
        <p class="p-top-project__jobCategory__txt"><%= jobCategory[j] %></p>
        <% } %>
      </div>
      <ul class="p-top-project__list">
        <% for (var k = 0; k < projects.length; k++) { %>
        <li class="p-top-project__listItem" id="fade-in-down<%= j+2 %>">
          <img class="p-top-project__listItem__goodMan" src="<%= imgPath %>goodhuman.png" alt="男性　いいね">
          <ul class="p-top-project__listItem__developmentEnironment">
            <% for (var l = 0; l < developmentEnvironment.length; l++) { %>
            <li><%= developmentEnvironment[l] %></li>
            <% } %>
          </ul>
          <p class="p-top-project__listItem__about">★週3日PHP案件！有名人も活用するブログサービス運営を支えるエンジニア募集！</p>
          <div class="p-top-project__listItem__feature">
            <div class="p-top-project__listItem__income">
              <img class="p-top-project__listItem__income__image" src="<%= imgPath %>money.png" alt="">
              <p class="p-top-project__listItem__income__monthly">月収</p>
              <p class="p-top-project__listItem__income__price">
                <span class="p-top-project__listItem__income__price--emphasis"><%= projects[k].unitPrice %></span>万円
              </p>
            </div>
            <!-- 区切り用の縦線を空文字のpタグで調整 -->
            <p class="p-top-project__listItem__separator"></p>
            <div class="p-top-project__listItem__working">
              <img class="p-top-project__listItem__working__image" src="<%= imgPath %>schedule.png" alt="">
              <p class="p-top-project__listItem__working__week">週に</p>
              <p class="p-top-project__listItem__working__days">
                <span class="p-top-project__listItem__working__days--emphasis"><%= projects[k].workingDays %></span>日勤務
              </p>
            </div>
          </div>
        </li>
        <% } %>
      </ul>
    </div><!-- /.p-top-project -->
  <!-- </div> -->

</main>
<% include src/ejs/template/_footer %>