<% var title = "TTL_JP_TOP"; var description = "トップのTTL_JP"; %> <% include
src/ejs/template/_head %>

<% var imgPath='/assets/images/'; %>
<% include src/ejs/template/_header %>

<main class="l-main">
    <div class="p-top-fixed fixed" id="fixed">
      <div class="p-top-fixed__container" id="fluffyDisappear">
        <div class="p-top-fixed__circle--LINE">
          <h3 class="p-top-fixed__catchPhrase"><span class="p-top-fixed__catchPhrase--bold">LINE</span>で<br>簡単登録</h3>
        </div><!-- /.p-top-fixed__circle -->
        <img src="<%= imgPath %>logo_ttj.png" class="p-top-fixed__titleImg" alt="トラストのロゴ">
        <div class="p-top-fixed__horizontal">
          <div class="p-top-fixed__circle--match">
            <h3 class="p-top-fixed__catchPhrase">希望案件<br>マッチ率<span class="p-top-fixed__catchPhrase--bold">97</span>％</h3>
          </div>
          <div class="p-top-fixed__vertical u-hidden-sp">
            <a class="c-top-toProject" id="toProjectSP" href="#">案件を見てみる！！</a>
            <a class="c-btn-skew__toLINE" href="https://lin.ee/Os4sS5W">
              <img src="<%= imgPath %>icon_line.png" class="c-btn-skew__lineIcon" alt="LINEのロゴ">
              LINE公式アカウントを登録！
            </a>
          </div>
          <div class="p-top-fixed__circle--day">
            <h3 class="p-top-fixed__catchPhrase">最短<span class="p-top-fixed__catchPhrase--bold">2</span>日で<br>業務開始 !</h3>
          </div>
        </div><!-- /.p-top-fixed__horizontal -->
        <div class="p-top-fixed__vertical u-hidden-pc">
          <a class="c-top-toProject" id="toProjectPC" href="#">案件を見てみる！！</a>
          <a class="c-btn-skew__toLINE" href="https://lin.ee/Os4sS5W">
            <img src="<%= imgPath %>icon_line.png" class="c-btn-skew__lineIcon" alt="LINEのロゴ">
            LINE公式アカウントを登録！
          </a>
        </div>
      </div><!-- /.p-top-fixed__container -->
    </div><!-- /.p-top-fixed -->

    <div class="p-top-aboutService" id="aboutService">
      <h2 class="p-top-aboutService__title">
        TTJは今まで様々なIT業界の営業に携わってきた<br><span class="p-top-aboutService__text--modifier">フリーランスエンジニア専門のエージェント</span>です。
      </h2>
      <div class="p-top-aboutService__explain">
        <div class="p-top-aboutService__bgLogo">
          <% var aboutServicebgLogo=['T', 'T', 'J']; %>
          <% var color=['red', 'blue', 'white']; %>
          <% for (var i = 0; i < aboutServicebgLogo.length; i++) { %>
            <span class="p-top-aboutService__bgLogo__list--<%= color[i] %>" id="bgLogo-<%= color[i] %>"><%= aboutServicebgLogo[i] %></span>
          <% } %>
        </div>
        <div class="p-top-aboutService__imgBlock">
          <img src="<%= imgPath %>img_sikou.png" class="p-top-aboutService__img" id="aboutServiceImg" alt="人の吹き出し">
        </div>
        <ul class="p-top-aboutService__textBlock">
          <% var aboutServiceText = [
            '営業に時間をかけたくない、今の現場からステップアップしたい、そもそも単価の相場もわからない…etc',
            'それぞれのニーズに沿った提案はもちろん<br><span class="p-top-aboutService__text--modifier">業務開始までしっかりサポート</span>致します。',
            'もう案件探しで悩まない<span class="p-top-aboutService__text--modifier">【自走できるエンジニア】</span>へ…!!'
          ]; %>
          <% for (var i = 0; i < aboutServiceText.length; i++) { %>
            <li class="p-top-aboutService__text" id="aboutServiceText<%= i+1 %>"><%- aboutServiceText[i] %></li>
          <% } %>
        </ul>
      </div>
      <div class="p-top-aboutService__entry">
        <p class="p-top-aboutService__entryBlock__text">
          まずはお気軽に、<br> <span class="p-top-aboutService__entryBlock__text--line">LINE</span><br>にてご登録下さい！
        </p>
        <div class="p-top-aboutService__entryArrowBlock" id="aboutServiceEntryArrow">
          <% for (var i=0; i<3; i++) { %>
            <i class="fas fa-angle-right aboutServiceEntryArrow"></i>
          <% } %>
        </div>
        <a class="c-btn-skew__toLINE" href="https://lin.ee/Os4sS5W">
          <img src="<%= imgPath %>icon_line.png" class="c-btn-skew__lineIcon" alt="LINEのロゴ">
          LINE公式アカウントを登録！
        </a>
      </div>
    </div>

  <!-- 仕事までの流れ -->
    <div class="p-top-flowUpToWork" id="flowUpToWork">
      <h1 class="p-top-flowUpToWork__heading">お仕事までの流れ</h1>
      <ul class="p-top-flowUpToWork__menu">
        <% var flow = [
          {'flowNum': '01', 'flowImage': 'icon_line.png', 'flowText': '登録'},
          {'flowNum': '02', 'flowImage': 'icon_flow2.png', 'flowText': '担当から連絡'},
          {'flowNum': '03', 'flowImage': 'icon_flow3.png', 'flowText': '打ち合わせ'},
          {'flowNum': '04', 'flowImage': 'icon_flow4.png', 'flowText': '案件紹介'},
          {'flowNum': '05', 'flowImage': 'icon_flow5.png', 'flowText': 'クライアントへ<br class="u-hidden-sp">提案'},
          {'flowNum': '06', 'flowImage': 'icon_flow6.png', 'flowText': 'エンジニア、<br class="u-hidden-sp">クライアント打ち合わせ'},
          {'flowNum': '07', 'flowImage': 'icon_flow7.png', 'flowText': '業務開始'},
        ]; %>
        <% for (var i = 0; i < flow.length; i++) { %>
        <li class="p-top-flowUpToWork__list">
          <dl class="p-top-flowUpToWork__list__inner">
            <div class="p-top-flowUpToWork__list__order">
              <dt class="p-top-flowUpToWork__list__order--step">STEP</dt>
              <dt class="p-top-flowUpToWork__list__order--num"><%= flow[i].flowNum %></dt>
            </div>
            <dd class="p-top-flowUpToWork__list__txt"><%- flow[i].flowText %></dd>
          </dl>
          <img class="p-top-flowUpToWork__list__image" src="<%= imgPath %><%= flow[i].flowImage %>" alt="仕事の流れ 画像">
        </li>
        <% } %>
      </ul>
    </div>

    <!-- 案件例 -->
    <div class="p-top-project" id="project">
      <% var categories = [
      {'img': 'up',    'heading': '単価'},
      {'img': 'genre', 'heading': '開発内容'},
      {'img': 'lang',  'heading': '開発言語'},
      ]; %>
      <% var projects = [
      {'unitPrice': '40', 'workingDays': 3},
      {'unitPrice': '50', 'workingDays': 3},
      {'unitPrice': '65', 'workingDays': 4},
      {'unitPrice': '80', 'workingDays': 5},
      {'unitPrice': '85', 'workingDays': 5},
      ]; %>
      <% var aboutProject = [
        {'environment': 'Ruby / Python / PHP',     'project': 'コミュニティーサービスのバックエンド開発'},
        {'environment': 'Go / PHP',                  'project': 'オンライン学習サービス向けWebアプリ開発'},
        {'environment': 'Vue.js / Nuxt.js',      'project': '面談予約サイトの改修、新規実装'},
        {'environment': 'PHP / MySQL',           'project': 'イベント管理システムの開発'},
        {'environment': 'JavaScript / CSS / HTML', 'project': '自社保険サービスサイト開発'},
      ]; %>

      <h2 class="p-top-project__heading">見つかる！希望案件</h2>

      <!-- 円グラフ -->
      <ul class="p-top-project__PCpieList">
        <% for (var m = 0; m < categories.length; m++) { %>
        <li class="p-top-project__PCpieItem">
          <h2 class="p-top-project__PCpieItem__category"><%= categories[m].heading %></h2>
          <p class="p-top-project__PCpieItem__image"><img src="<%= imgPath %>img_graph_<%= categories[m].img %>.png" alt="開発言語 画像"></p>
        </li>
        <% } %>
      </ul>

      <div class="p-top-project__SPpieList__top">
        <div class="c-btn-round" id="openPie1"></div>
        <h2 class="p-top-project__SPpieItem__topCategory">単価詳細</h2>
      </div>

      <ul class="p-top-project__SPpieList__bottom">
        <% for (var m = 0; m < 2; m++) { %>
          <li class="p-top-project__SPpieItem__bottom">
            <div class="c-btn-round" id="openPie<%= m+2 %>"></div>
            <h2 class="p-top-project__SPpieItem__bottomCategory"><%= categories[m+1].heading %></h2>
          </li>
        <% } %>
      </ul>

      <ul class="p-top-project__SPpieList__fadeIn" id="">
        <% for(var i=0; i<categories.length; i++) { %>
          <li class="p-top-project__SPpieItem__fadeIn" id="pieFadeIn<%= i+1 %>">
            <div id="bgBlack">
              <p class="p-top-project__SPpieItem__Img"><img src="<%= imgPath %>imgSP_graph_<%= categories[i].img %>.png" alt="開発言語 画像（SP）"></p>
            </div>
          </li>
        <% } %>
      </ul>

      <ul class="p-top-project__list slick-slider">
        <% for (var k = 0; k < projects.length; k++) { %>
          <!-- liタグ要素間の余白をつけずに直下のdivタグで余白をつける -->
        <li class="p-top-project__listItem slick-slide slick-current slick-active" id="adjustHeight">
          <div class="p-top-project__listItem__inner">
            <p class="p-top-project__listItem__about"><%= aboutProject[k].project %></p>
            <dl class="p-top-project__listItem__feature">
              <div class="p-top-project__listItem__feature__income">
                <dt class="p-top-project__listItem__feature__income__monthly">単価</dt>
                <dd class="p-top-project__listItem__feature__income__price">
                  <span class="p-top-project__listItem__feature__income__price--emphasis"><%= projects[k].unitPrice %></span>万円
                </dd>
              </div>
              <div class="p-top-project__listItem__feature__working">
                <dt class="p-top-project__listItem__feature__working__week">週</dt>
                <dd class="p-top-project__listItem__feature__working__day">
                  <span class="p-top-project__listItem__feature__working__day--emphasis"><%= projects[k].workingDays %></span>日勤務
                </dd>
              </div>
            </dl>
            <ul class="p-top-project__listItem__language" id="language">
              <li class="p-top-project__listItem__language--detail"><%= aboutProject[k].environment %></li>
            </ul>
          </div>
        </li>
        <% } %>
      </ul>
    </div><!-- /.p-top-project -->

  <div class="p-top-faq">
    <h1 class="p-top-faq__title">FAQ</h1>
    <% var question = [
      'フリーランスエージェントとはどういうサービスですか？', 'TTJのサービス利用料金は発生しますか？', '自分のスキルに見合った案件へ就けますか？', '実務未経験ですが案件紹介は可能でしょうか？',
      'TTJのマージン率はどのぐらいですか？', 'フリーランスとして初めての案件となりますがTTJでどこまでサポートしてくれますか？', 'TTJでは現案件から次回案件へ移行の際、期間を開けず就業することは可能でしょうか？',
      '案件の期間はどのぐらいでしょうか？', '案件先は東京のみでしょうか？', 'フルタイム以外の案件もありますか？', '他のエージェントでは常駐案件が多いと聞きましたがTTJも同じでしょうか？',
      '登録にするにあたり、何か用意するものなどありますでしょうか？'
    ]; %>
    <% var answer = [
      'フリーランスエンジニアへ案件をご紹介し、契約手続きや条件の交渉等行うサービスです。わかりやすく言うとエンジニアの営業代行業務になります。',
      'いいえ、ご利用料金は完全無料となります。',
      'はい。LINEにて登録後、弊社営業担当より細かなヒアリングを行いしっかりニーズにマッチした案件をご紹介いたします。',
      'はい。未経験でも案件紹介は可能ですが経験者の方に比べ案件の幅には制限がございます。',
      '案件の単価にもよりますが15%〜20%ほどです。ちなみに業界の相場としては20%〜25%ほどが一般的です。',
      '案件の提案から業務開始まではもちろん、クライアント様との商談の仕方等ノウハウも含めサポート致します。',
      'はい、可能です。TTJではエンジニア1人1人に担当がつきますので案件終了期間が近づきましたら担当より次回案件についてご相談致します。',
      '案件ごとに変わりますが1〜3ヶ月での更新が一般的となります。エンジニア、クライアント様より双方認識（ニーズ）が合えば延長することも可能です。ちなみに弊社の案件更新率は90%以上となります。',
      'いいえ、やはり東京23区内が多いのは事実ですが、TTJでは全国にクライアント様がおりますので地方案件も多数ございます。まずはお気軽にお問い合わせください。',
      '当社では一般的な140h〜180h時間稼働の案件だけではなく、週2、3日の案件もご紹介致します。',
      'やはり割合として常駐案件が多いですがコロナ禍の影響もありリモートワーク案件も急増しております。まずは一度お気軽にご相談下さい。',
      '登録の際には特にございません。弊社担当との打ち合わせの際にはスキルシート、職務経歴書をご用意いただけるとご案内がスムーズです。もしお持ちでない場合は、テンプレートをご用意致しますのでお申し付けください。'
    ]; %>

    <!-- p-top-faqPCブロック：slide用 -->
    <ul class="p-top-faqPC__question">
      <% for (var i=0; i < question.length; i++) { %>
        <li class="p-top-faqPC__questionList" id="faqPCQuestionList<%= i+1 %>">
          <div class="p-top-faqPC__questionList__titleNum" id="faqPCTitleNum<%= i+1 %>">Q<%= [i+1] %></div>
          <h3 class="p-top-faqPC__questionList__title" id="faqPCTitleQuestion<%= i+1 %>"><%= question[i] %></h3>
        </li>
      <% } %>
    </ul>

    <ul class="p-top-faqPC__answer" id="faqPCAnswer">
      <% for (var i=0; i < answer.length; i++) { %>
        <li class="p-top-faqPC__answerList" id="faqPCAnswer<%= i+1 %>">
          <div id="bgBlack">
            <div class="p-top-faqPC__answerList__textBlock">
              <span class="p-top-faqPC__answerList__Num">Q<%= [i+1] %></span>
              <h3 class="p-top-faqPC__answerList__question"><%= question[i] %></h3>
              <span class="p-top-faqPC__answerList__Num">A<%= [i+1] %></span>
              <p class="p-top-faqPC__answerList__answer"><%= answer[i] %></p>
              <span class="p-top-faqPC__crossIcon"><i class="fas fa-times crossIcon"></i></span>
            </div>
          </div>
        </li>
      <% } %>
    </ul>

    <ul class="p-top-faqSP">
      <% for (var i=0; i < question.length; i++) { %>
        <li class="p-top-faqSP__list">
          <div class="p-top-faqSP__question" id="questionMenu<%= i+1 %>" data-name="clicks">
            <h3 class="p-top-faqSP__question__title" id="questionTitle<%= i+1 %>">Q.<%= question[i] %></h3>
          </div>
          <div class="p-top-faqSP__answer">
            <p class="p-top-faqSP__answer__text">A.<%= answer[i] %></p>
          </div>
        </li>
      <% } %>
    </ul>
  </div>

  <div class="p-top-entry">
    <div class="p-top-entry__mask">
      <img src="<%= imgPath %>logo_ttj.png" class="p-top-entry__companyLogo" alt="サービス名のロゴ">
      <p class="p-top-entry__text">
        まずはお気軽に、<br><span class="p-top-entry__text--line">LINE</span><br>にてご登録下さい！
      </p>
      <div class="p-top-PCentry__btn">
        <a class="c-btn-square__toLINE" href="https://lin.ee/Os4sS5W">
          <img src="<%= imgPath %>icon_line.png" class="c-btn-square__lineIcon" alt="LINEのロゴ">
          LINE公式アカウントを登録！
        </a>
      </div>
      <div class="p-top-SPentry__btn">
        <a class="c-btn-skew__toLINE" href="https://lin.ee/Os4sS5W">
          <img src="<%= imgPath %>icon_line.png" class="c-btn-skew__lineIcon" alt="LINEのロゴ">
          LINE公式アカウントを登録！
        </a>
      </div>
    </div>
  </div>
</main>
<% include src/ejs/template/_footer %>